*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffffff;
    gap: 10px;
    margin: 0 20px;
}
nav div{
    display: flex;
    gap: 20px;
}
ul{
    display: flex;
    align-items: center;

    list-style: none;
    gap: 25px;

}
.logo{
    width: 50px;
    height: 50px;
}

.container{

    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('./images/1664201099-home-nubank.webp');
    background-size: 100%;